{% extends 'manufacturing/base.html' %}

{% block content %}

<div class="#424242 grey darken-3 z-depth-5">
	<span><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></span>
	<span class="center-align">
<style type="text/css">
	h2
	{
		display:inline;
		margin-left: 570px;
		font-weight: bold;
	}
</style>
		<h2 class="#fdd835-text yellow-text text-darken-1 ">JCB</h2></span>
</div>
  <ul id="slide-out" class="sidenav #424242 grey darken-3">
    <li><div class="user-view lololo">
    	
      <div class="background ">
      	<style type="text/css">
      		.oneee
      		{
      			height: 200px ;
      			width: 400px
      		}
      		.lololo
      		{
      			height: 200px;
      			width: 400px;
      		}
      	</style>
        <img class="oneee" src="/static/vm116-compactor.jpg">
      </div>
    </div ></li>


    <ul class="collapsible">
    <li>
      <div class="collapsible-header #fdd835-text yellow-text text-darken-1" style="font-weight: bolder"><i class="material-icons">build</i>MANUFACTURING</div>
      <div class="collapsible-body #fdd835 yellow darken-1">

      	<ul>
      		<li><a href="http://127.0.0.1:8000/login_manufacturing_employees" class="white-text">Employees</a></li>
      		<li><a href="http://127.0.0.1:8000/login_manufacturing_supplies" class="white-text">Suppliers</a></li>
      		<li><a href="http://127.0.0.1:8000/login_manufacturing_parts" class="white-text">Parts</a></li>
      	</ul>


      </div>
    </li>
    <li>
      <div class="collapsible-header #fdd835-text yellow-text text-darken-1" style="font-weight: bolder"><i class="material-icons">call_merge</i>ASSEMBLY</div>
      <div class="collapsible-body #fdd835 yellow darken-1">

      	<ul>
      		<li><a href="#" class="white-text">Employees</a></li>
      		<li><a href="#" class="white-text">Parts</a></li>
      		<li><a href="#" class="white-text">Finished Machines</a></li>
      	</ul>

      </div>
    </li>
    <li>
      <div class="collapsible-header #fdd835-text yellow-text text-darken-1 " style="font-weight: bolder"><i class="material-icons">check_circle</i>PRODUCTION</div>
      <div class="collapsible-body #fdd835 yellow darken-1">

      	<ul>
      		<li><a href="#" class="white-text">Employees</a></li>
      		<li><a href="#" class="black-text">Parts</a></li>
      		<li><a href="#" class="white-text">Finished Machines</a></li>
      	</ul>

      </div>
    </li>
  </ul>
 

  </ul>






<div class="parallax-container">
      <div class="parallax ">
<img src="/static/3dx-backhoe-loader.jpg">
      </div>
    </div>


<div class="row black">
	<style type="text/css">
		.yut
		{
			color: white;
		}
	</style>
      <div class="col l6 center-align #fdd835-text yellow-text text-darken-1 ">
  <h4><i class="material-icons">create</i><a class="yut" target="_blank" href="https://www.jcb.com/en-in/quote-request?jcb_content=cta-page-quote-link-compact">    Request a Price</a></h4></div>
      <div class="col l6 center-align #fdd835-text yellow-text text-darken-1"> <h4><i class="material-icons">picture_in_picture_alt</i><a class="yut" target="_blank" href="https://www.jcb.com/en-in/request-brochure?jcb_content=cta-page-link-1-compact">   Download Brochure</a></h4></div></div>
</div>

<style type="text/css">
	.twoooooo
	{
position: relative;
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.threeee
	{
		line-height: 1.6;
	}

	
</style>
     <div class="row twoooooo">
      <div class="col s6">
      	<div class="embed-responsive embed-responsive-16by9">
      		<style type="text/css">
      			iframe
      			{
      				height: 300px;
      				width: 500px;
      				margin-top: 40px;
      				margin-left: 40px
      			}
      		</style>
                                                                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NjvjFot0p28?rel=0" allowfullscreen></iframe>
                                    </div>
                                </div>
      <div class="col s6"><h3 style="font-weight: bold">JCB NXT SERIES – THE NXT LEVEL OF EXCAVATORS</h3><br>
      	<h5 class="threeee" style="font-family: 'Rajdhani', sans-serif">Discover the NXT Level of Excavation with the new JCB NXT Series of Excavators. Powered by IntelliControl for real-time operational data on a built-in 7-inch screen and packed with features for NXT level of reliability, performance, connectivity and more, enter the new era of excavation with the JCB NXT Series.</h5>
      <br>
      	<br>
       	<style type="text/css">
      		.threee
	{
		font-weight: bolder;
	}
      	</style>
      	<a target="_blank" href="https://www.jcb.com/en-in/campaigns/2019/nxt-excavators"><h5 class="threee #fbc02d-text yellow-text text-darken-2" >Learn More</h5></a></div>


    </div>
 


   





    <div class="parallax-container">
      <div class="parallax"><img src="/static/loadall-530-110-telescopic-handler.jpg">
      	<style type="text/css">
      		.fourrr
      		{
      			position:sticky;
      			margin-top: 250px;
      			margin-left: 200px;
      			color: white;
      			font-weight: bolder;
      		}
      	</style>

<div class="hoverable">
	 <h6 class="fourrr ">"Jamais Content - that's very, very much me. I am never content; I'm always looking for improvement." Mr. JCB</h6>
</div>
       
      </div>
    </div>

<style type="text/css">
    		.lol
    		{
    			height: 80px;
    			margin-bottom: 0px;
    			
    		}
    	</style>

    <div class="row #fbc02d yellow darken-2 lol">
    	<style type="text/css">
    		.seth
    		{
    			margin-top: 30px;
    			margin-bottom: 20px;
    			height: 20px;
    			width: 20px;
    		}
    	</style>
      <div class="col s2 right-align"><a target="_blank" href="https://www.facebook.com/JCBIndiaLtd/"><img class="seth" src="/static/icons/iconfinder_BW_Facebook_2_glyph_svg_5305153.png"></a></div>
      <div class="col s2 center-align"><a target="_blank" href="https://www.instagram.com/jcbindialtd/"><img class="seth" src="/static/icons/iconfinder_Instagram_glyph_svg_5335781.png"></a></div>
      <div class="col s2 center-align"><a target="_blank" href="https://twitter.com/JCBIndiaLtd"><img class="seth" src="/static/icons/iconfinder_BW_Twitter_glyph_svg_5305170.png"></a></div>
      <div class="col s2 center-align"><a target="_blank" href="https://www.linkedin.com/company/10865023?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10865023%2Cidx%3A2-1-2%2CtarId%3A1468936449852%2Ctas%3Ajcb%20india%20"><img class="seth" src="/static/icons/iconfinder_BW_Linkedin_glyph_svg_5305157.png"></a></div>
      <div class="col s2 center-align"><a target="_blank" href="https://www.youtube.com/user/jcbindialtd?feature=results_main"><img class="seth" src="/static/icons/iconfinder_BW_Youtube_glyph_svg_5305164.png"></a></div>
      <div class="col s2 left-align"><a target="_blank" href="https://en.wikipedia.org/wiki/JCB_(company)"><img class="seth" src="/static/icons/iconfinder_BW_Dribbble_2_glyph_svg_5305152.png"></a></div>
    </div>

{% endblock %}

{% block script %}

<script>
	document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
  });


document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });



var instance = M.Carousel.init({
    fullWidth: true,
    indicators: true
  });


document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems,{
      fullWidth: true,
      indicators: true
    });
  });



document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });

	</script>
{% endblock %}